body {
  background: #999;
  font-family: arial;
}
h1 {

    margin: auto;
    width: 11%;

    padding: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: cyan;
}
img {
  padding: 8px 8px 0px 0px;
}
h3 {
  color: lime;

}
